<mat-card class="side-content-card">
  <mat-card-header>
    <mat-card-title>Quick Facts</mat-card-title>
  </mat-card-header>

  <div class="qfact-card">
    <div class="qfact-header">
      <div class="qfact-header-title">Status</div>
      <div class="qfact-header-shortcut">
        <mat-icon>launch</mat-icon>
      </div>

    </div>
    <mat-divider></mat-divider>
    <div class="qfact-body">
      <div class="qfact-data-wrapper">
        <div class="qfact-row">
          <div class="qfact-column">
            <mat-icon id="status-qfact-icon">account_box</mat-icon>
          </div>
          <div class="qfact-column">
            <p>ID: SH05154</p>
            <p>Tier: Gold</p>
            <p>Pts: 125,024</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="qfact-card">
    <div class="qfact-header">
      <div class="qfact-header-title">Top 3 Facts</div>
      <div class="qfact-header-shortcut">
        <mat-icon>launch</mat-icon>
      </div>

    </div>
    <mat-divider></mat-divider>
    <div class="qfact-body">
      <div class="qfact-data-wrapper">
        <div class="qfact-row">
          <div class="qfact-column">
            <mat-icon id="status-top-three-facts-icon">error</mat-icon>
          </div>
          <div class="qfact-column">
            <p>Suite Room</p>
            <p>King Bed</p>
            <p>Highest Floor</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="qfact-card">
    <div class="qfact-header">
      <div class="qfact-header-title">RFM Score</div>
      <div class="qfact-header-shortcut">
        <mat-icon>launch</mat-icon>
      </div>

    </div>
    <mat-divider></mat-divider>
    <div class="qfact-body">
      <div class="qfact-data-wrapper">
        <div class="qfact-row qfact-row-justify">
          <div class="qfact-column">
            <div id="score-gauge" class="c100 p80 small">
              <span>80%</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          </div>
          <div class="qfact-column">
            <p>R:70%</p>
          </div>
          <div class="qfact-column">
            <p>F:50%</p>
          </div>
          <div class="qfact-column">
            <p>M:90%</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="qfact-card">
    <div class="qfact-header">
      <div class="qfact-header-title">Other Facts:</div>
      <div class="qfact-header-shortcut">
        <mat-icon>launch</mat-icon>
      </div>

    </div>
    <mat-divider></mat-divider>
    <div class="qfact-body">
      <div id="qfact-other-facts-table" class="qfact-data-wrapper">
        <div class="qfact-row">
          <div class="qfact-column">
            <mat-icon class="icon-other-facts">date_range</mat-icon>
          </div>
          <div class="qfact-column description-wider">
            <p>Total Stays:</p>
          </div>
          <div class="qfact-column">
            <p>24</p>
          </div>
        </div>
        <div class="qfact-row">
          <div class="qfact-column">
            <mat-icon class="icon-other-facts">nights_stay_outline</mat-icon>
          </div>
          <div class="qfact-column description-wider">
            <p>Nights:</p>
          </div>
          <div class="qfact-column">
            <p>32</p>
          </div>
        </div>
        <div class="qfact-row">
          <div class="qfact-column">
            <mat-icon class="icon-other-facts">king_bed</mat-icon>
          </div>
          <div class="qfact-column description-wider">
            <p>Avg Stay:</p>
          </div>
          <div class="qfact-column">
            <p>1.33 nights</p>
          </div>
        </div>
        <div class="qfact-row">
          <div class="qfact-column">
            <mat-icon class="icon-other-facts">today</mat-icon>
          </div>
          <div class="qfact-column description-wider">
            <p>Last Visit:</p>
          </div>
          <div class="qfact-column">
            <p>2018-05-15</p>
          </div>
        </div>
        <div class="qfact-row">
          <div class="qfact-column">
            <mat-icon class="icon-other-facts">money</mat-icon>
          </div>
          <div class="qfact-column description-wider">
            <p>Lifetime Value:</p>
          </div>
          <div class="qfact-column">
            <p>3084.29$</p>
          </div>
        </div>
      </div>
    </div>
  </div>


